@model ProductDetailViewModel

    <!-- main wrapper start -->
    <main>
       
       


        <!-- product details wrapper start -->
        <div class="product-details-wrapper section-padding">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <!-- product details inner end -->
                        <div class="product-details-inner">
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="product-large-slider mb-20">
                                        <div class="pro-large-img img-zoom">
                                            <img src="~/manage/assets/uploads/product/@Model.Product.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.ImageName" alt="" />
                                        </div>
                                        
                                    </div>
                                    <div class="pro-nav slick-row-5">
                                   @foreach (var item in Model.Product.ProductImages)
                                    {
                                        <div class="pro-nav-thumb"><img src="~/manage/assets/uploads/product/@item.ImageName" alt="" /></div>
                                    }
                                        
                                    </div>
                                </div>
                                <div class="col-lg-7">
                                    <div class="product-details-des">
                                        
                                        <h2 class="pro-det-title">@Model.Product.Category.Name</h2>

                                        <h3 class="pro-det-title">@Model.Product.Name</h3>
                                        <div class="pro-review">
                                            <span><a href="#"> Reviews (@Model.Product.ProductReviews.Count)</a></span>
                                        </div>
                                        <div class="price-box">
                                            <span class="regular-price">@Model.Product.DiscountPrice</span>
                                            <span class="old-price"><del>@Model.Product.SalePrice</del></span>
                                        </div>

                                        <div class="quantity-cart-box d-flex align-items-center mb-20 mt-3">
                                            <div class="quantity">
                                                <div class="pro-qty"><input type="text" value="1"></div>
                                            </div>
                                        </div>
                                    <div class="rating-widget">
                                        <div class="rating-block">
                                            @for (int i = 1; i <=5; i++)
                                            {
                                                <span class=" fa-regular fa-star @(i<=Model.Product.Rate?"star_on":"")"></span>
                                            }
                                        </div>

                                        <a asp-controller="product" asp-action="addtobasket" asp-route-id="@Model.Product.Id" class="btn btn-default basket-btn" >Add To Cart</a>
                                        </div>
                                        <div class="availability mb-20 mt-3">
                                            <h5 class="cat-title">Availability:</h5>
                                        <span>
                                            @if (Model.Product.StockStatus)
                                            {
                                                <span class="list-value text-success">  In Stock</span>
                                            }
                                            else
                                            {
                                                <span class="list-value text-danger"> Out Stock</span>
                                            }
                                        </span>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product details inner end -->

                        <!-- product details reviews start -->
                        <div class="product-details-reviews section-padding">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="product-review-info">
                                        <ul class="nav review-tab">
                                           
                                            <li>
                                            <a class="active" data-toggle="tab" href="#tab_two">information</a>
                                            </li>
                                            <li>
                                            <a data-toggle="tab" href="#tab_three">ReviewsReviews (@Model.Product.ProductReviews.Count)</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content reviews-tab">
                                         
                                        <div class="tab-pane fade  show active" id="tab_two">
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td>color</td>
                                                        <td>@Model.Product.Color.Name</td>
                                                        </tr>
                                             
                                              
                                                        <tr>
                                                            <td>size</td>
                                                        <td>
                                                            @foreach (var item in Model.Product.ProductSizes)
                                                            {
                                                                <span>@item.Size.SizeName </span>

                                                            }
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="tab-pane fade" id="tab_three">
                                               
                                                   @foreach (var item in Model.Product.ProductReviews)
                                            {
                                                <h5>1 review for <span>@item.AppUser.FullName</span></h5>
                                                <div class="total-reviews">
                                                   
                                                    <div class="review-box">
                                                        <div >
                                                            @for (int i = 1; i <=5; i++)
                                                            {
                                                                <span class=" fa-regular fa-star @(i<=item.Rate?"star_on":"")"></span>
                                                            }
                                                        </div>
                                                        <div class="date">
                                                            <p><span>@item.ReviewDate.ToString("dd-mmmm-yyyy")</span></p>
                                                        </div>
                                                        <p>@item.Text</p>
                                                    </div>
                                                </div>
                                            }
                                                   @Html.Partial("_ProductReviewFormPartial",Model.productReview)
                                                 <!-- end of review-form -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- product details reviews end -->
                    <!-- Quick view modal start -->
                    <div class="modal" id="quick_view">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                        </div>
                    </div>
                    <!-- Quick view modal end -->

                        <!-- featured product area start -->
                        <section class="Related-product">
                            <div class="container ">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="section-title text-center">
                                            <h2 class="title">Related Product</h2>
                                            <p class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="product-carousel-4 mbn-50 slick-row-15 slick-arrow-style">
                                         @foreach (var item in Model.RelatedProduct)
                                    {
                                        <!-- product single item start -->
                                        <div class="product-item mb-50">
                                            <div class="product-thumb">
                                                <a href="product-details.html">
                                                    <img src="~/manage/assets/uploads/product/@item.ProductImages.FirstOrDefault(x=>x.PosterStatus==true)?.ImageName" alt="">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h5 class="product-name">
                                                    <a href="product-details.html">@item.Name</a>
                                                </h5>
                                                <div class="price-box">
                                                    <span class="price-regular">@item.DiscountPrice</span>
                                                    <span class="price-old"><del>@item.SalePrice</del></span>
                                                </div>
                                                <div class="product-action-link">

                                                    <a asp-controller="product" asp-action="addtobasket" asp-route-id="@item.Id" data-toggle="tooltip"  class="basket-btn" title="Add To Cart"><i class="ion-bag "></i></a>
                                                      <a asp-controller="product" asp-action="getdetail" asp-route-id="@item.Id" class="modal-btn" data-toggle="modal" data-target="#quick_view">
                                                        <span data-toggle="tooltip"
                                                          title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- product single item start -->
                                    }
                                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- featured product area end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- product details wrapper end -->
    </main>
    <!-- main wrapper end -->

   